$background-color: #cdcdcd;
$text-color: #091616;
$primary-color: #7e7e7e;
$secondary-color: #dcdcdc;

$brand-color-1: #69418A;
$brand-color-2: #D32C24;
$brand-color-3: #E9A63B;

$header-font: "Anton", sans-serif;
$body-font: "Overpass", sans-serif;
$alternate-font: "Nova Square", sans-serif;
$cursive-font: "Chewy", cursive;